{% assign default_logo = default_logo | default: nil %}
{% assign alternate_logo = alternate_logo | default: nil %}

{% if default_logo %}
  {%
    render 'rimg',
    class: 'branding-logo-image logo-regular',
    img: default_logo,
    alt: shop.name,
    size: '200x100',
    lazy: false,
    attr: 'data-header-logo'
  %}
  {% if alternate_logo %}
    {%
      render 'rimg',
      class: 'branding-logo-image logo-alternate',
      img: alternate_logo,
      alt: shop.name,
      size: '200x100',
      lazy: false,
      attr: 'data-header-logo'
    %}
  {% endif %}
{% else %}
  <span class="branding-logo-heading">
  {% comment %}
    {{ shop.name }}
  {% endcomment %}
    <svg width="109" height="67" viewBox="0 0 109 67" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M11.4522 48.2H4.90016V48.464C6.02816 48.488 6.82016 49.76 6.82016 53.384V59.816C6.82016 63.44 6.02816 64.712 4.90016 64.736V65H10.4682V64.736C9.34016 64.712 8.54816 63.44 8.54816 59.816V57.248H11.4042C15.3642 57.248 18.1722 55.4 18.1722 52.76C18.1722 50.12 15.3882 48.224 11.4522 48.2ZM11.4042 56.576H8.54816V53.384C8.54816 49.88 8.86016 48.92 11.3082 48.92H11.4042C14.1402 48.92 15.7722 50.336 15.7722 52.76C15.7722 55.16 14.1402 56.576 11.4042 56.576ZM26.8251 52.568C24.9531 51.968 23.7291 53.552 22.8411 54.872V54.704C22.8411 53.456 22.1691 52.784 20.9211 52.784H19.3611V53.048C20.3931 53.048 21.2811 54.968 21.2811 59.408V59.816C21.2811 63.44 20.4891 64.712 19.3611 64.736V65H24.7611V64.736C23.6331 64.712 22.8411 63.44 22.8411 59.816V56.48C23.4411 54.704 24.4971 53.576 25.6251 53.576C26.3211 53.6 26.8011 53.936 27.6171 54.896L27.8091 54.728C27.4731 53.744 27.1611 52.688 26.8251 52.568ZM34.9204 65.24C36.9124 65.24 38.7844 64.088 39.4804 62.432L39.3124 62.24C38.2564 63.2 36.6004 63.872 35.3044 63.872C32.7124 63.872 30.8644 61.832 30.8644 58.976C30.8644 58.544 30.8884 58.112 30.9364 57.848H39.2164C39.6964 57.848 39.9844 57.584 39.9124 57.104C39.6004 54.488 37.5604 52.76 34.8004 52.76C31.2724 52.76 28.7764 55.328 28.7764 58.976C28.7764 62.648 31.3204 65.24 34.9204 65.24ZM31.0084 57.176C31.4164 54.824 32.7844 53.432 34.7044 53.432C36.6004 53.432 37.9924 54.656 38.0644 56.408C38.0884 56.888 37.8004 57.176 37.3204 57.176H31.0084ZM41.5727 63.68C42.9167 64.832 44.6207 65.216 45.8687 65.216C48.4367 65.216 50.7887 64.112 50.8127 61.376C50.7887 58.856 47.6927 58.136 46.5887 57.8C44.9567 57.296 42.9647 56.72 42.9887 55.424C43.0367 53.96 44.1887 53.456 45.6287 53.456C47.7407 53.456 49.3247 54.752 49.5647 56.984H49.7807C50.3087 55.304 50.6687 54.704 50.1647 54.272C48.8207 53.12 47.0927 52.736 45.8687 52.784C43.6847 52.808 41.6207 53.912 41.5727 56.024C41.5487 57.92 43.8527 59.024 45.4607 59.48C47.3327 60.008 49.3967 60.488 49.3727 62.312C49.3487 64.04 47.6687 64.52 46.4207 64.496H46.1807C44.0687 64.496 42.4127 63.2 42.1727 60.968H41.9567C41.5247 62.648 41.0687 63.248 41.5727 63.68ZM58.6392 65.24C60.6312 65.24 62.5032 64.088 63.1992 62.432L63.0312 62.24C61.9752 63.2 60.3192 63.872 59.0232 63.872C56.4312 63.872 54.5832 61.832 54.5832 58.976C54.5832 58.544 54.6072 58.112 54.6552 57.848H62.9352C63.4152 57.848 63.7032 57.584 63.6312 57.104C63.3192 54.488 61.2792 52.76 58.5192 52.76C54.9912 52.76 52.4952 55.328 52.4952 58.976C52.4952 62.648 55.0392 65.24 58.6392 65.24ZM54.7272 57.176C55.1352 54.824 56.5032 53.432 58.4232 53.432C60.3192 53.432 61.7112 54.656 61.7832 56.408C61.8072 56.888 61.5192 57.176 61.0392 57.176H54.7272ZM76.8298 59.816V57.176C76.8298 54.584 74.9338 52.76 72.2458 52.76C70.8778 52.76 69.2458 53.744 68.3098 55.112V54.704C68.3098 53.456 67.6378 52.784 66.3898 52.784H64.8298V53.048C65.8618 53.048 66.7498 54.968 66.7498 59.408V59.816C66.7498 63.44 65.9578 64.712 64.8298 64.736V65H70.2298V64.736C69.1018 64.712 68.3098 63.44 68.3098 59.816V56.288C68.3098 56.264 68.3338 56.264 68.3338 56.24C69.1258 54.56 70.5898 53.576 72.2698 53.576C74.1658 53.576 75.2698 54.92 75.2698 57.176V59.816C75.2698 63.44 74.4778 64.712 73.3498 64.736V65H78.7498V64.736C77.6218 64.712 76.8298 63.44 76.8298 59.816ZM85.5805 52.784C82.3645 52.856 79.9405 55.4 79.9405 58.976C79.9405 62.648 82.4125 65.24 85.9165 65.24C88.0045 65.24 89.9245 64.088 90.5485 62.432L90.3805 62.24C89.4685 63.2 87.8125 63.872 86.3485 63.872C83.8285 63.872 82.0285 61.712 82.0285 58.976C82.0285 55.688 83.4205 53.432 85.5805 53.456C87.6925 53.456 89.4925 55.16 89.4925 57.392H89.7325C90.4525 55.76 90.8365 55.232 90.3805 54.752C88.9165 53.216 87.0445 52.736 85.5805 52.784ZM98.3892 65.24C100.381 65.24 102.253 64.088 102.949 62.432L102.781 62.24C101.725 63.2 100.069 63.872 98.7732 63.872C96.1812 63.872 94.3332 61.832 94.3332 58.976C94.3332 58.544 94.3572 58.112 94.4052 57.848H102.685C103.165 57.848 103.453 57.584 103.381 57.104C103.069 54.488 101.029 52.76 98.2692 52.76C94.7412 52.76 92.2452 55.328 92.2452 58.976C92.2452 62.648 94.7892 65.24 98.3892 65.24ZM94.4772 57.176C94.8852 54.824 96.2532 53.432 98.1732 53.432C100.069 53.432 101.461 54.656 101.533 56.408C101.557 56.888 101.269 57.176 100.789 57.176H94.4772Z" fill="currentColor"/>
      <path d="M54.1 0C55.1 0 55.7 0 56.4 0.1C56.9 0.1 57.5 0.2 58 0.3C58.4 0.3 58.8 0.4 59.2 0.4C59.7 0.5 60.2 0.6 60.7 0.7C61.2 0.8 61.7 0.9 62.1 1.1C62.6 1.2 63 1.4 63.4 1.6C63.8 1.8 64.2 1.9 64.5 2.1C65.3 2.5 66.1 3.1 66.7 3.8C67.2 4.4 67.7 5 68 5.8C68.5 6.7 68.9 7.7 69.2 8.8C69.4 9.5 69.6 10.2 69.8 11C69.9 11.5 70 11.9 70.1 12.4C70.2 12.9 70.3 13.4 70.4 13.9C70.5 14.6 70.6 15.4 70.6 16.1C70.7 16.7 70.7 17.4 70.8 18V18.1C70.8 19.2 70.9 20.2 70.9 21.3C70.9 22.4 71 23.5 71 24.6C71 25.4 70.9 26.2 70.9 27C70.9 27.7 70.8 28.4 70.7 29C70.6 29.5 70.6 29.9 70.5 30.4C70.4 31 70.2 31.7 70.1 32.3C70 32.8 69.9 33.2 69.7 33.7C69.5 34.3 69.3 34.8 69.1 35.4C68.9 35.9 68.6 36.4 68.3 36.9C67.8 37.7 67.2 38.4 66.5 38.9C66 39.3 65.5 39.6 65 39.9C64.6 40.1 64.1 40.3 63.7 40.5C63.4 40.6 63 40.8 62.7 40.9C62.4 41 62.1 41.1 61.8 41.1C61.4 41.2 61 41.3 60.7 41.4C60.4 41.5 60.1 41.5 59.8 41.6C59.4 41.7 59.1 41.7 58.7 41.8C58.2 41.9 57.7 41.9 57.2 42C56.1 42.1 55 42.1 54 42.1C53.3 42.1 52.7 42.1 52 42C51.5 42 51 41.9 50.5 41.8C50.2 41.8 49.8 41.7 49.5 41.7C49.2 41.7 48.9 41.6 48.6 41.5C48.4 41.5 48.2 41.4 48 41.4C47.6 41.3 47.1 41.2 46.7 41.1C46.2 41 45.8 40.8 45.3 40.6C44.8 40.4 44.3 40.1 43.8 39.9C42.9 39.4 42.1 38.7 41.5 38C41 37.4 40.6 36.8 40.3 36.1C40.1 35.7 40 35.4 39.8 35C39.7 34.7 39.6 34.3 39.5 33.9C39.4 33.4 39.2 33 39.1 32.5C39 32.2 38.9 31.8 38.9 31.5C38.8 31.2 38.7 30.8 38.7 30.5C38.6 30.2 38.6 29.8 38.6 29.5C38.5 28.6 38.4 27.7 38.3 26.9C38.1 25.6 38 24.5 38 23.5C38 22.7 38 21.9 38 21.1C38 20 38.1 18.9 38.1 17.8C38.1 17.2 38.2 16.6 38.2 16.1C38.2 15.5 38.3 15 38.4 14.5C38.5 13.9 38.5 13.3 38.6 12.7C38.7 12.2 38.8 11.8 38.9 11.3C39 10.9 39.1 10.6 39.1 10.2C39.2 9.7 39.4 9.2 39.5 8.8C39.7 8.3 39.8 7.9 40 7.5C40.2 7 40.4 6.5 40.6 6C40.9 5.3 41.4 4.6 41.9 4C42.4 3.4 42.9 2.9 43.6 2.5C44.2 2.2 44.8 1.8 45.4 1.5C45.7 1.3 46.1 1.3 46.4 1.1C46.7 1 47 0.9 47.3 0.8C47.7 0.7 48.1 0.6 48.4 0.5C48.9 0.4 49.5 0.3 50 0.2C50.5 0.1 50.9 0.1 51.4 0.1C52.4 0.1 53.4 0 54.1 0Z" fill="#CF812D"/>
    </svg>
  </span>
{% endif %}
