/* #######################################
    welcome page
####################################### */

.welcome {
  padding: 58px 0 115px;
  font-size: 16px;
  line-height: 36px;
  font-weight: 500;
  margin-top: -50px;
}
.welcome a {
  text-decoration: none;
  font-weight: 700;
  color: #ffffff;
}
.welcome__container {
  max-width: 465px;
  padding: 10px;
  margin: auto;
  text-align: center;
}
.welcome__container img {
  display: inline-block;
}
.welcome__logo-container {
  max-width: 208px;
  margin: auto;
  margin-bottom: 43px;
}
.welcome__container p {
  margin-top: 28px;
}
.welcome__container h1 + p {
  margin-top: 0;
}
.welcome__button {
  width: 291px;
  border-radius: 100px;
  padding: 19px 35px 19px 38px;
  font-weight: 600;
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  margin-top: 13px;
}
.welcome__button svg {
  position: relative;
  top: 4px;
  left: 8px;
}
.welcome__heading {
  font-size: 24px;
  line-height: 44px;
}
.welcome__video-button-container {
  border-radius: 40px;
  position: relative;
  overflow: hidden;
}
.welcome__video-button-text p {
  font-size: 12px;
  letter-spacing: 2px;
  margin-top: 9px!important;
}
.welcome__video-play-image {
  width: 65px;
  height: 65px;
}
.welcome__video-button-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
}
.welcome__video-button-content p {
  margin-top: 10px;
  line-height: 1.3;
}
@media screen and (max-width: 768px) {
  .welcome {
    padding: 36px 0 85px;
  }
  .welcome__container {
    max-width: 94%;
  }
  .welcome__container p {
    margin-top: 43px;
  }
}
@media screen and (max-width: 479px) {
  .welcome__button {
    width: 100%;
  }
  .welcome__container {
    max-width: calc(79% + 20px);
    margin: auto;
  }
  .welcome__logo-container {
    width: 38vw;
  }
}
.welcome__container h1 + div p {
  margin-top: 0;
}

.header-container .video-item {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
}
.header-container .video-item .button,
.videos-container .video-item {
  cursor: pointer;
}
.header-container .text-container {
  padding: 4rem 3rem;
}
.video-item .image-container img {
  object-fit: cover;
  display: block;
  height: 100%;
}

.video-item .image-container {
  position: relative;
}

#video-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 2rem;
}
body.welcome-page #dummy-chat-button-iframe{
  display: none!important;
}
#video-popup .video-container {
  width: calc(calc(100vh - 60px) * 1.7);
  margin: auto;
  max-width: 100%;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0px 10px;
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed,
.embed-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.close-button {
  height: 27px;
  width: 27px;
  display: block;
  position: relative;
  top: -5px;
  right: calc(30px - 100%);
  border: 2px solid #ffffff;
  border-radius: 15px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-button::before,
.close-button::after {
  content: "";
  height: 2px;
  width: 15px;
  display: block;
  background-color: #ffffff;
  position: relative;
  top: 10px;
  right: -4px;
}
.close-button::before {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.close-button::after {
  top: 8px;
}

@media screen and (max-width:768px) {
  .header-container .video-item {
    flex-direction: column;
  }
  .header-container .image-container {
    min-width: initial;
  }
  #video-popup {
    padding: 0;
  }
  .videos-container {
    padding: 0 10px;
  }
}

/* Safari */
@-webkit-keyframes inanim  {
  0%   { transform:scale(0.5); opacity:0.0}
  100% { transform:scale(1.0); opacity:1.0}
}
/* Standard syntax */
@keyframes inanim  {
  0%   { transform:scale(0.5); opacity:0.0}
  100% { transform:scale(1.0); opacity:1.0}
}
/* Safari */
@-webkit-keyframes out  {
  0%   { transform:scale(1.5); opacity: 0.0}
  100% { transform:scale(1.0); opacity: 1.0}
}
/* Standard syntax */
@keyframes out  {
  0%   { transform:scale(1.5); opacity: 0.0}
  100% { transform:scale(1.0); opacity: 1.0}
}
/* Safari */
@-webkit-keyframes upanim  {
  0%   { opacity:0.0; top: 30px}
  100% { opacity:1.0; top: 0}
}
/* Standard syntax */
@keyframes upanim  {
  0%   { opacity:0.0; top: 30px}
  100% { opacity:1.0; top: 0}
}
.welcome__logo-container {
  -webkit-animation: inanim 1s forwards; /* Safari 4.0 - 8.0 */
  animation: inanim 1s forwards;
}
.welcome__heading {
  -webkit-animation: upanim 1s forwards; /* Safari 4.0 - 8.0 */
  animation: upanim 1s forwards;
}
.welcome__text-container {
  -webkit-animation: upanim 1s forwards; /* Safari 4.0 - 8.0 */
  animation: upanim 1s forwards;
  position: relative;
}
.welcome__button {
  -webkit-animation: out 1s forwards; /* Safari 4.0 - 8.0 */
  animation: out 1s forwards;
}
.welcome__video-button {
  -webkit-animation: inanim 1s forwards; /* Safari 4.0 - 8.0 */
  animation: inanim 1s forwards;
}

.welcome__container > * {
  opacity: 0;
}

.welcome__heading {
  animation-delay: 200ms;
}
.welcome__text-container-1 {
  animation-delay: 400ms;
}
.welcome__button.btn-1 {
  animation-delay: 600ms;
}
.welcome__text-container-2 {
  animation-delay: 800ms;
}
.welcome__button.btn-2 {
  animation-delay: 1000ms;
}
.welcome__text-container-3 {
  animation-delay: 1200ms;
}
.welcome__button.btn-3 {
  animation-delay: 1400ms;
}
.welcome__video-button {
  opacity: 0;
  display: inline-block;
  animation-delay: 1600ms;
  margin-top: 42px;
}

.section-header {
  padding: 113px 10px 0 50px;
    text-align:center;
 
}
.rte {
  img {
    height: auto;
  }

  table {
    table-layout: fixed; 
    /*background: #fff;*/ 
  }

  ul,
  ol {
/*     margin: 0 0 ($section-spacing-small / 2) $section-spacing-small; */

    &.list--inline {
      margin-left: 0;
    }
  }

  ul {
    list-style: disc outside;

    ul {
      list-style: circle outside;

      ul {
        list-style: square outside;
      }
    }
  }

  a:not(.btn) {
    border-bottom: 1px solid currentColor;
    padding-bottom: 1px;
  }
}

.text-center.rte,
.text-center .rte {
  ul,
  ol {
    margin-left: 0;
    list-style-position: inside;
  }
}
.rte {
  
/*   margin-bottom: $section-spacing-small;
 */
  // If an .rte div is the last element in its parent,
  // make it flush with the bottom of the container
  &:last-child {
    margin-bottom: 0;
  }
}